:root {
  --font-size-h1: 6ch;
  --first-font-size: medium;
  --font-size-content: large;

  --normal-font-weight: 400;
  --heavy-font-weight: 600;

  --first-line-height: 1;
  --first-color: black;
  --second-color: #aaa;
  --third-color: #ddd;
  --fourth-color: rgba(1, 1, 1, 0.05);

  --execution-color: #d30001;

  --first-margin: 10vw;
  --padding-left: 1.5rem;
  --padding-full: 1rem;
  --first-width: 90vw;
  --first-height: 100%;
  --first-box-shadow: none;
  --border-radius: 1.625rem;
  --first-border-width: 0;
  --first-opacity: 1;

  --margin-top: 1rem;

  --code-font: Fira Mono;
  /* transitions */
  --transition-button-hover: scale(1.1, 1.1);

  --button-padding: 0.5rem;
  --button-disabled: #ddd;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: var(--font-size-h1);
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}
.brand-text {
  color: black;
}
* {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
input[type="time"] {
  font-size: var(--font-size-content);
  font-weight: var(--heavy-font-weight);
  text-align: center;
  padding: 0.25rem;
  border: none;
  background-color: var(--third-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}
textarea {
  resize: vertical;
  border-radius: var(--border-radius);
  padding: var(--padding-full);
  background-color: var(--third-color);
  border: none;
}
.last-ping {
  width: 1rem;
  height: 1rem;
  background-color: #ccc;
  border-radius: 50%;
}
.current-ping {
  width: 1rem;
  height: 1rem;
  background-color: #d30001;
  border-radius: 50%;
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

button {
  background: none;
  border: none;
  border-radius: var(--border-radius);
  padding: var(--button-padding);
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}
button:disabled {
  background-color: var(--button-disabled);
  color: var(--fourth-color);
}
canvas {
  background-color: rgba(0, 0, 0, 0);
}
.add-entry-button:disabled {
  color: #ccc;
}
.time-plan-row {
  padding: var(--padding-full);
  margin: 0 10vw 0 10vw;
}
li.time-plan-row:hover {
  border-radius: var(--border-radius);
  padding: var(--padding-full);
  background-color: var(--fourth-color);
}

footer {
  margin-block-start: 4rem;
}
